.container {
  @apply px-4 max-w-5xl mx-auto;
}

.card {
  @apply bg-white border border-gray-300 rounded-xl p-3;
}

.btn {
  @apply border border-gray-300 rounded-lg bg-white px-2.5 py-2 cursor-pointer;
}

.btn-primary {
  @apply bg-primary text-white border-primary;
}

.input {
  @apply border border-gray-300 rounded-lg bg-white px-2.5 py-2 min-w-[260px];
}

.select {
  @apply border border-gray-300 rounded-lg bg-white px-2.5 py-2;
}
